HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.DB_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.xml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore all lock files
*.lock

src/main/resources/application-oauth.yml

# Ignore all XML files
*.xml

wedle.pem

# Firebase Admin SDK 파일 무시
/src/main/resources/security/wedle-94dad-firebase-adminsdk-3qavr-19fe7c2a51.json
/src/main/resources/security/AuthKey_S86XZVR3U9.p8